alabaster==0.7.16
amqp==5.2.0
annotated-types==0.7.0
babel==2.16.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
confluent-kafka==2.4.0
cryptography==43.0.1
deepdiff==6.7.1
dictdiffer==0.9.0
docutils==0.20.1
grpcio==1.60.0
idna==3.7
imagesize==1.4.1
jinja2==3.1.3
kombu==5.3.7
markupsafe==2.1.5
ordered-set==4.1.0
packaging==24.0
protobuf==4.25.1
pycparser==2.21
pydantic==2.7.2
pydantic-core==2.18.3
pygments==2.18.0
pygnmi==0.8.14
pyyaml==6.0.1
requests==2.32.0
snowballstemmer==2.2.0
typing-extensions==4.12.0
urllib3==2.2.2
vine==5.1.0
